.config/iterm2
.config/karabiner/automatic_backups
.config/karabiner/karabiner.json
.config/lvim/lazy-lock.json
.config/nvim/lazy-lock.json
.config/zsh/.zcompcache
.config/zsh/.zsh_sessions
.config/zsh/.zcompdump
.config/translate-shell/happiness.trans
.config/tmux/plugins
.config/mycli/mycli.log
.config/aria2
Brewfile.lock.json
.config/musikcube
.config/atuin
.config/btop/btop.log
.config/cava/shaders
.config/nvm
